<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fas fa-shuttle-badminton"></i> Tameside Badminton League
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-trophy"></i> Fixtures & Results
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/email-scorecard"><i class="fas fa-pen-to-square"></i> Enter Result</a></li>
                        <li><a class="dropdown-item" href="/tables/All"><i class="fas fa-table"></i> Tables</a></li>
                        <li><a class="dropdown-item" href="/results/All"><i class="fas fa-list"></i> All</a></li>
                        <li><a class="dropdown-item" href="/results/Division 1">Division 1</a></li>
                        <li><a class="dropdown-item" href="/results/Division 2">Division 2</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/info/clubs"><i class="fas fa-users"></i> Clubs</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-clock-rotate-left"></i> History
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/tables/All/20232024">2023/2024 Tables</a></li>
                        <li><a class="dropdown-item" href="/results/All/20232024">2023/2024 Results</a></li>
                        <li><a class="dropdown-item" href="/tables/All/20242025">2024/2025 Tables</a></li>
                        <li><a class="dropdown-item" href="/results/All/20242025">2024/2025 Results</a></li>
                        <li><a class="dropdown-item" href="/lewis-shield/20242025">2024/2025 Lewis</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/lewis-shield"><i class="fas fa-shield-halved"></i> Lewis Shield</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-file-lines"></i> Useful Files
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/static/docs/scorecard.pdf"><i class="fas fa-file-pdf"></i> Scorecard</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/rules"><i class="fas fa-book"></i> Rules</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact-us"><i class="fas fa-envelope"></i> Contact</a></li>
                <% if(locals.user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            <i class="fas fa-user-gear"></i> Admin
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/email-scorecard">Enter Result</a>
                            <a class="dropdown-item" href="/admin/results/All">Results Detail</a>
                            <% if(locals.user._json['https://my-app.example.com/role'] == 'superadmin') { %>
                                <a class="dropdown-item" href="/manage-players/club-Aerospace">Team Management</a>
                                <a class="dropdown-item" href="/fixture-players">Fixture Players</a>
                                <a class="dropdown-item" href="/player-stats">Individual Stats</a>
                                <a class="dropdown-item" href="/pair-stats">Pair Stats</a>
                            <% } else if(locals.user._json['https://my-app.example.com/role'] == 'admin') { %>
                                <a class="dropdown-item" href="/manage-players/club-<%= locals.user._json['https://my-app.example.com/club'] %>">Team Players</a>
                                <% if(locals.user._json['https://my-app.example.com/stats']) { %>
                                    <a class="dropdown-item" href="/player-stats">Individual Stats</a>
                                    <a class="dropdown-item" href="/pair-stats">Pair Stats</a>
                                <% } %>
                            <% } %>
                            <a class="dropdown-item" href="/logout" target="_blank">Logout</a>
                        </div>
                    </li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-right-to-bracket"></i> Log in</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<main role="main" class="container">
    <div class="starter-template row">