<div class="modal" id="resultsEntryModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Results Entry</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-left">
        <a href="https://tameside-badminton.co.uk/email-scorecard">https://tameside-badminton.co.uk/email-scorecard</a><br /><br />
        It'll ask you to login, with login with your details from the stockport site, or choose the signup option.
        One or two things needs to happen when you sign up; firstly i need to approve you, i get an email once you sign up, so this usually happens quite quickly, secondly you may get a verification email - this is sometimes delayed a little, but again i can see if it's delayed so i'll keep you informed<br /><br />
        Once you're verified and approved it's relatively straightforward, either use the link in the Admin menu or visit the link above again<br /><br />
        You can use the results entry form on your phone or laptop - it still needs a scan / photo of the scorecard (so doing on your mobile is pretty handy since it means you can just snap a picture when you get to that step)<br /><br />
        It doesn't alter the website, it's just an alternative to the spreadsheet + scan solution we've currently got and removes the dependence on excel/sheets/numbers or whatever people are using.<br />
        Once myself or Jonny have verified the result then it goes on the website, updates the table and posts the result to social media - make sure to like / share and tag your club on these posts to gain some visiblity and attract attention the league and your club.<br />
        If you get stuck, or something doesn't work as you expect it to let me know and i'll see what i can do to improve it.<br />
        If you struggle to upload a picture, or it's blocked somehow feel free to just email the picture to me.
        <a href="/static/images/resultsEntry480p.mp4" target="_blank">Short Instructional Video</a>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>